

#sessao4 {
    width: 100%;
    height: 950px;
    /* min-height: 100vh; */

    
    justify-content: center;
    text-align: center;
    background-size: cover;
    margin: 50px;
    
}




.h2 {
    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
    font-size: 50px;
    color: red;

}

#img_hospedagem {
    
    height: 5px;
}

#img_hospedagem {
    

    height: 5px;
}

.h4 {
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: red;
    
    
}
.u-list:not(.u-repeater) .u-repeater, .u-blog:not(.u-repeater) .u-repeater, .u-products:not(.u-repeater) .u-repeater {
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    height: 5000%;
    color: black;
    display: flexbox;
    padding: 12px;
    justify-content: center;    
    align-items: center;
    text-align: center;

    

    
}
.u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    /* min-height: 632px; */
    grid-gap: 30px;
    color: black;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.u-repeater {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
}
*, *:before, *:after {
    box-sizing: border-box;
}
folha de estilo do user agent
.div {
    display: block;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    
    color: white;
}
.u-align-center {
    text-align: center;
}
/* .u-body {
    color: #111111;
    background-color: #ffffff;
    --effect-scale: 1.1;
} */
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
.Atributo style {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

#sessao5 {
    width: 100%;
    

    /* min-height: 100vh; */

    
    justify-content: center;
    text-align: center;
    background-size: cover;
    
    
}
#edition {
    color: white;
    
}




#sessao7 {
    height: 50px;

    /* min-height: 100vh; */

    
    justify-content: center;
    text-align: center;
    background-size: cover;
    
    
}


.animated {
    /* opacity: 0; */
    
    transition: .3s;
}

.animated-start {
    opacity: 1;
    

} 

