/* serviços */


#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    
}

/* ;; rem ("root em") é o tamanho de fonte do elemento-raiz do documento. Diferentemente do em , que pode ser diferente para cada elemento, o rem é constante em todo o documento.  */
#services .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 2.rem;
    text-align: center;
}

#services .section-title span {

    color: blue;
}
#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;

}

#service .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

#services .service-item{
    flex-basis: 80%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(4, 169, 245);
    background-size: cover;
    margin: 10px 5%;

    
}


/* #services .service-item::after{

    content: '';
    position: absolute;
    left: 0em;
    height: 100%;
    width: 25%;
    background-color: black;
    opacity: .6;

} */