*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
    text-align: center;


}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom:  3px solid transparent;
    transition: all 0.25s ease-in-out;
    
}

nav ul li a:hover{
    border-bottom: 3px solid yellow;
}


section{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

section h1{
    font-size: 70px;
    color: black;
}
section:nth-of-type(1){
    background-image: url(/img/maldives-g800da8716_1920.jpg);
}
section:nth-of-type(2){
    background-image: url(/img/sobre\ nos.jpg);
}
section:nth-of-type(3){
    background-image: url(/img/wyoming-gf48d92b03_1920.jpg);
}
section:nth-of-type(4){
    background-color: black;
}
section:nth-of-type(5){
    background-image: url(/img/nature-g76edaf068_1920.jpg)
}